.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.container .ul-container {
    display: flex;
    gap: 24px;
}

.team .team-box {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

.team-box img {
    display: block;
}

.team .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team .team-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;

}

.team .team-department {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-box .names-container {
    margin: 32px 16px;
}